name: CD Pipeline (Deploy to Production)

on:
  push:
    branches:
      - production
  workflow_run:
    workflows: ["CI Pipeline (Audit, Quality, Tests)"]
    types:
      - completed
    branches:
      - production
jobs:
  deploy:
    name: Deploy to Production
    runs-on: ubuntu-latest
    env:
      APP_ENV: prod
      APP_DEBUG: 0
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Vérifier la présence de deploy.sh
        run: ls -la

      - name: Check SSH secrets
        id: check-secrets
        run: |
          if [ -z "${{ secrets.SSH_HOST }}" ] || [ -z "${{ secrets.SSH_USERNAME }}" ] || [ -z "${{ secrets.SSH_PRIVATE_KEY }}" ]; then
            echo "missing=true" >> $GITHUB_OUTPUT
            echo "❌ SSH secrets are not configurés"
          else
            echo "missing=false" >> $GITHUB_OUTPUT
            echo "✅ SSH secrets configurés"
          fi

      - name: Copier deploy.sh sur le serveur
        if: steps.check-secrets.outputs.missing == 'false'
        uses: appleboy/scp-action@v0.1.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "./deploy.sh"
          target: "/monapp/symfony-docker-ci-cd/deploy.sh"

      - name: Déployer sur le serveur
        if: steps.check-secrets.outputs.missing == 'false'
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          timeout: 300s
          command_timeout: 60s
          script: |
            set -e
            cd /monapp/symfony-docker-ci-cd
            echo "On est dans $(pwd)"
            echo "Liste des fichiers:"
            ls -la
            chmod +x deploy.sh
            ./deploy.sh
            echo "✅ Déploiement terminé avec succès"
